<ion-view view-title="Speak App" class="logo-header">
	<ion-content>
		<!-- this is not being displayed, this template is probably not even called?-->
		<h1>ae</h1>


		<div class="list card">

			<div class="item item-avatar">
				<img src="http://lorempixel.com/35/35/people/0/">
				<h2>Fulano Silva</h2>
				<p>August 20, 2016</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="http://lorempixel.com/150/100/nightlife/0/">
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
				</p>
			</div>

		</div>
	</ion-content>
</ion-view>